*{ 
    font-family: 'Roboto', sans-serif; 
    -webkit-text-size-adjust: 180%;
    font-size: 40px;
    box-sizing: border-box;
}

body {
    background-color: #1c5ee2;
}

.content {
    padding: 1rem;
    background-color: white;    
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}



